build/
**/core_build
**/Release
**/Debug
*.user
*.ncb
*.suo
.idea
.svn
.DS_Store
.qmake.stash
Thumbs.db
*.xcuserstate
*.xcuserdatad
**/Makefile.*
**/Makefile
*.7z
*.obj
*.pdb
*.tlb
*.idb
**/.hg
*.zip
*.tar.gz
**/*.build/
*.dat
*.txt
*.log

*.ipch
*.ipch
*.ipch

*.db-wal

*.db-shm

*.db

*.opendb
