ASCOfficeDocxFile2/AVSOfficeDocxFile2.ncb
ASCOfficeDocxFile2/AVSOfficeDocxFile2.suo
ASCOfficeDocxFile2/AVSOfficeDocxFile2.vcproj.AVSMEDIA.Dmitry.Davydov.user
ASCOfficeDocxFile2/Debug
ASCOfficeDocxFile2/DocWrapper/Debug
ASCOfficeDocxFile2/DocWrapper/Release
ASCOfficeDocxFile2/Release
ASCOfficeDocxFile2/ReleaseAVSOfficeDocxFile2.pdb
ASCOfficeDocxFile2/_AVSOfficeDocxFile2.h
ASCOfficeDocxFile2/_AVSOfficeDocxFile2.idl
ASCOfficeDocxFile2/_AVSOfficeDocxFile2.tlb
ASCOfficeDocxFile2/_AVSOfficeDocxFile2_i.c
ASCOfficeDocxFile2/_AVSOfficeDocxFile2_p.c
ASCOfficeDocxFile2/avsgraphics.tlh
ASCOfficeDocxFile2/avsimagestudio3.tlh
ASCOfficeDocxFile2/avsmediacore3.tlh
ASCOfficeDocxFile2/debug
ASCOfficeDocxFile2/msxml3.tlh
ASCOfficeDocxFile2/msxml3.tli
ASCOfficeDocxFile2/release
ASCOfficeOdpFile/*
ASCOfficeOdpFile/ODPFormat/Debug
ASCOfficeOdpFile/ODPFormat/ODPFormat.vcproj.AVSMEDIA.Viktor.Logunov.user
ASCOfficeOdpFile/ODPFormat/ReadMe.txt
ASCOfficeOdpFile/ODPFormat/Release
ASCOfficeOdpFile/Odp2DrawingXML/Debug
ASCOfficeOdpFile/Odp2DrawingXML/Release
ASCOfficeOdtFile/Projects/*
ASCOfficePPTXFile/*.suo
ASCOfficePPTXFile/Debug
ASCOfficePPTXFile/PPTX2DrawingXML/Debug
ASCOfficePPTXFile/PPTX2DrawingXML/Release
ASCOfficePPTXFile/PPTX2OfficeDrawing/Debug
ASCOfficePPTXFile/PPTXFormat/!_
ASCOfficePPTXFile/PPTXFormat/_
ASCOfficePPTXFile/PPTXLib/PPTXFormat/*.suo
ASCOfficePPTXFile/PPTXLib/PPTXFormat/PPTXFormat/Debug
ASCOfficePPTXFile/PPTXLib/PPTXFormat/PPTXFormat/Release
ASCOfficePPTXFile/PPTXLib/PPTXFormat/debug
ASCOfficePPTXFile/PPTXLib/Source/!_
ASCOfficePPTXFile/PPTXLib/Source/_
ASCOfficePPTXFile/Release
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/Output
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/Test/AVSImageRawSimpleConverter/bin
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/Test/AVSImageRawSimpleConverter/obj
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/_AVSImageRaw3.h
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/_AVSImageRaw3.idl
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/_AVSImageRaw3.tlb
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/_AVSImageRaw3_i.c
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/_AVSImageRaw3_p.c
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/dcrawcon/bin
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/dcrawcon/dcrawcon.ncb
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/dcrawcon/debug
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/dcrawcon/xsdsample
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/dcrawcon/xsdsample1
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/doxygen
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/lcmslib/bin
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/lcmslib/debug
AVSImageStudio3/AVSImageRaw3/trunk/dcraw_8-94/lcmslib/release
AVSImageStudio3/AVSImageRaw3/trunk/libraw/Output
AVSImageStudio3/AVSImageRaw3/trunk/libraw/Test/AVSImageRawSimpleConverter/bin
AVSImageStudio3/AVSImageRaw3/trunk/libraw/Test/AVSImageRawSimpleConverter/obj
AVSImageStudio3/AVSImageRaw3/trunk/libraw/_AVSImageRaw3.h
AVSImageStudio3/AVSImageRaw3/trunk/libraw/_AVSImageRaw3.idl
AVSImageStudio3/AVSImageRaw3/trunk/libraw/_AVSImageRaw3.tlb
AVSImageStudio3/AVSImageRaw3/trunk/libraw/_AVSImageRaw3_i.c
AVSImageStudio3/AVSImageRaw3/trunk/libraw/_AVSImageRaw3_p.c
AVSImageStudio3/AVSImageRaw3/trunk/libraw/dcrawcon/bin
AVSImageStudio3/AVSImageRaw3/trunk/libraw/dcrawcon/dcrawcon.ncb
AVSImageStudio3/AVSImageRaw3/trunk/libraw/dcrawcon/debug
AVSImageStudio3/AVSImageRaw3/trunk/libraw/dcrawcon/xsdsample
AVSImageStudio3/AVSImageRaw3/trunk/libraw/dcrawcon/xsdsample1
AVSImageStudio3/AVSImageRaw3/trunk/libraw/doxygen
AVSImageStudio3/AVSImageRaw3/trunk/libraw/lcmslib/bin
AVSImageStudio3/AVSImageRaw3/trunk/libraw/lcmslib/debug
AVSImageStudio3/AVSImageRaw3/trunk/libraw/lcmslib/release
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/Output
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/Test/AVSImageRawSimpleConverter/bin
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/Test/AVSImageRawSimpleConverter/obj
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/_AVSImageRaw3.h
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/_AVSImageRaw3.idl
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/_AVSImageRaw3.tlb
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/_AVSImageRaw3_i.c
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/_AVSImageRaw3_p.c
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/dcrawcon/bin
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/dcrawcon/dcrawcon.ncb
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/dcrawcon/debug
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/dcrawcon/xsdsample
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/dcrawcon/xsdsample1
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/doxygen
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/lcmslib/bin
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/lcmslib/debug
AVSImageStudio3/AVSImageRaw3/trunk/workingcopy/lcmslib/release
