/* Copyright (C) 2001-2006 Artifex Software, Inc.
   All Rights Reserved.
  
   This software is provided AS-IS with no warranty, either express or
   implied.

   This software is distributed under license and may not be copied, modified
   or distributed except as expressly authorized under the terms of that
   license.  Refer to licensing information at http://www.artifex.com/
   or contact Artifex Software, Inc.,  7 Mt. Lassen Drive - Suite A-134,
   San Rafael, CA  94903, U.S.A., +1(415)492-9861, for further information.
*/

// $Id: dwuninst.rc 9043 2008-08-28 22:48:19Z giles $

#include <windows.h>
#include "dwuninst.h"

ID_UNINSTGS ICON "gswin.ico"


IDD_UNSET DIALOG 6, 15, 242, 123
STYLE DS_MODALFRAME | 0x4L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "&Cancel", IDCANCEL, 106, 98, 50, 14
 PUSHBUTTON "&Uninstall", IDOK, 16, 98, 50, 14
 LTEXT "To remove this package, press Uninstall", IDC_PRESSOK, 44, 8, 192, 8
 LTEXT "", IDC_T1, 32, 48, 200, 16
 LTEXT "", IDC_T2, 32, 64, 200, 16
 ICON ID_UNINSTGS, IDC_GSICON, 8, 8, 18, 20
}


