<Settings>
  <file>./sdkjs/common/Native/native.js</file>
  <file>./sdkjs/common/Native/jquery_native.js</file>
  <file>./sdkjs/vendor/xregexp/xregexp-all-min.js</file>
  <file>./fonts/AllFonts.js</file>
  <htmlfile>./sdkjs/vendor/jquery/jquery.min.js</htmlfile>
  <DoctSdk>
	<file>./sdkjs/word/sdk-all-min.js</file>
	<file>./sdkjs/common/libfont/js/fonts.js</file>
	<file>./sdkjs/word/sdk-all.js</file>
  </DoctSdk>
  <PpttSdk>
	<file>./sdkjs/slide/sdk-all-min.js</file>
	<file>./sdkjs/common/libfont/js/fonts.js</file>
	<file>./sdkjs/slide/sdk-all.js</file>
  </PpttSdk>
  <XlstSdk>
	<file>./sdkjs/cell/sdk-all-min.js</file>
	<file>./sdkjs/common/libfont/js/fonts.js</file>
	<file>./sdkjs/cell/sdk-all.js</file>
  </XlstSdk>
</Settings>