# paths

root		/home/regression/

# latest revision built in root
gsroot		/home/regression/HEAD/
# latest revision installed to gshead
installtree	/home/regression/gshead/
# latest revision path to executable
headinstallpath	/home/regression/gshead/bin/gs

comparefiledir	/home/regression/comparefiles/
comparefileall 	/home/regression/comparefiles/

crashfiledir	/home/regression/crashfiles/
codedir		/home/regression/regression/
datadir		/home/regression/regression/
logdir		/home/regression/regression/logs/
testdir		/home/regression/regression/test/

dailydir	/home/regression/regression/daily/
rasterdbdir	/home/regression/regression/raster/
rasterdir	/home/regression/regression/raster/
fontdir		/home/regression/fonts/
workdir		/home/regression/regression/work/

# programs
fuzzy		/home/regression/regression/fuzzy

# data filenames
baselinedb	/home/regression/regression/baseline/baseline.db
baseline_log	/home/regression/regression/baseline/baseline.log

# nightly report options
mail_server	 localhost
report_to	 gs-regression@ghostscript.com
report_from	 gs-regression@ghostscript.com
mailkeyword	 xefitra

# scripts
run_regression_script	/home/regression/regression/run_regression.py
testdiff_script		/home/regression/regression/testdiff.py
get_baseline_log_script	/home/regression/regression/get_baseline_log.py

# put into logdir defined above
update_stdout	update-stdout
update_stderr	update-stderr
config_stdout	config-stdout
config_stderr	config-stderr
make_stdout	make-stdout
make_stderr	make-stderr
install_stdout	install-stdout
install_stderr	install-stderr
gs_stdout	gs-stdout
gs_stderr	gs-stderr
differences	differences
baselines	baseline_changes
regression	regression
cumulative	cumulative
email		email
history		history

