<Settings>
  <file>../../../../../OfficeWeb/Common/Native/native.js</file>
  <file>../../../../../OfficeWeb/Common/Native/jquery_native.js</file>
  <file>../../../../../OfficeWeb/Common/3rdparty/XRegExp/xregexp-all-min.js</file>
  <file>../../../../../OfficeWeb/Common/AllFonts.js</file>
  <htmlfile>../../../../../OfficeWeb/Common/3rdparty/jquery/jquery.min.js</htmlfile>
  <DoctSdk>../../../../../OfficeWeb/Word/sdk-all.js</DoctSdk>
  <PpttSdk>../../../../../OfficeWeb/PowerPoint/sdk-all.js</PpttSdk>
  <XlstSdk>../../../../../OfficeWeb/Excel/sdk-all.js</XlstSdk>
</Settings>