*.iml
gradlew
gradlew.bat
keystore-release.properties

/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
/gradle
/android-ndk*
/extra-builds/native/libs
/extra-builds/native/toolchain
/extra-builds/native/src/iconv
.zip
.gradle
.idea
.DS_Store
.externalNativeBuild
