<Settings>
	<file>X:\AVS\Sources\TeamlabOffice\trunk\ServerComponents\DoctRenderer\COMMON\native.js</file>
	<file>X:\AVS\Sources\TeamlabOffice\trunk\ServerComponents\DoctRenderer\COMMON\jquery_native.js</file>
	<file>X:\AVS\Sources\TeamlabOffice\trunk\OfficeWeb\Common\3rdparty\XRegExp\xregexp-all-min.js</file>
</Settings>