<?xml version="1.0" encoding="UTF-8"?>
<Document>
  <ToBeSigned>
    Some very secret data
  </ToBeSigned>
  <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
    <SignedInfo>
      <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315" />
      <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1" />
      <Reference URI="">
        <Transforms>
          <Transform Algorithm="http://www.w3.org/2002/06/xmldsig-filter2">
            <XPath xmlns="http://www.w3.org/2002/06/xmldsig-filter2" Filter="intersect"> //ToBeSigned </XPath>
          </Transform>
        </Transforms>
        <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" />
        <DigestValue/>
      </Reference>
    </SignedInfo>
    <SignatureValue/>
    <KeyInfo>
      <X509Data>
        <X509SubjectName/>
        <X509IssuerSerial/>
        <X509SKI/>
        <X509Certificate/>
        <X509CRL/>
      </X509Data>
    </KeyInfo>
  </Signature>
</Document>
