<?xml version="1.0"?>
<!DOCTYPE test [
<!ATTLIST ToBeSigned Id ID #IMPLIED>
]>
<Document xmlns:xenc="http://www.example.org/xenc" xmlns:dsig="http://www.example.org/dsig">
  <ToBeSigned Id="foo">
    <Secrets>Test</Secrets>
  </ToBeSigned>
  <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
    <SignedInfo>
      <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
      <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#hmac-sha1"/>
      <Reference URI="">
        <Transforms>
          <Transform Algorithm="http://www.w3.org/2001/04/xmldsig-more/xptr">
            <XPointer xmlns="http://www.w3.org/2001/04/xmldsig-more/xptr">
		    xpointer(id(&quot;foo&quot;))
	    </XPointer>
          </Transform>
        </Transforms>
        <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"/>
        <DigestValue/>
      </Reference>
    </SignedInfo>
    <SignatureValue>
  </SignatureValue>
    <Object Id="object">some text</Object>
  </Signature>
</Document>
