<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestPPTtoPPTX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestPPTtoPPTX.Properties.Settings>
            <setting name="SourceFile" serializeAs="String">
                <value>E:\\OfficeTests\\PPTtoPPTX\\Empty.ppt</value>
            </setting>
            <setting name="DestinationFilePath" serializeAs="String">
                <value>E:\\OfficeTests\\PPTtoPPTX</value>
            </setting>
        </TestPPTtoPPTX.Properties.Settings>
    </userSettings>
</configuration>